<h1>this is index.vcccvv</h1>
<h1>this is index.vcccvv</h1>
<h1>this is index.vcccvv</h1>

about
<a href="/about">about</a> 

<div class="about" id="about">
    <h1>About</h1>
    <table class="table table-borderless">
      <tbody>
        <tr class="text-center">        
          <td>Name</td>
          <td>{{ profile.name }}</td>       
        </tr>
        <tr class="text-center">
          <td>Education</td>
          <td>{{ profile.education }}</td>
        </tr>
        <tr class="text-center">
          <td>GitHub</td>
          <td>{{ profile.github }}</td>
        </tr>
        <tr class="text-center">
          <td>Facebook</td>
          <td>{{ profile.facebook }}</td>
        </tr>
        <tr class="text-center">
          <td>Blog</td>
          <td>{{ profile.blog }}</td>
        </tr>
        <tr class="text-center">
          <td>Mail</td>
          <td>{{ profile.mail }}</td>
        </tr>
        <tr class="text-center">
          <td>Mobil</td>
          <td>{{ profile.mobile }}</td>
        </tr>
      </tbody>
    </table>  
  </div>

 
